{% if task_list %}
    <ul>
    {% for task in task_list %}
        <li><a href="{% url 'task' task.id %}">{{ task.content }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No task are available.</p>
{% endif %}
